*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    border: 2px solid whitesmoke;
}

.item2{
    display:flex;
    justify-content:flex-end;
    gap: 50px;
    
}

.item2 a{
    text-decoration: none;
    color: #666;
    font-family: Arial;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.hero-section img{
    padding-top:50px;
    width: 800px;
}
.hero-section button{
    text-decoration: none;
    width: 150px;
    height: 50px;
    background-color: #387ed1;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

