*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


:root{
    --color1: white;
    --color2: black;
    
    
}

body{
    background-color: var(--color1);
    color: var(--color2);
}

.dark{
    --color1: black;
    --color2: white;
}

@media (prefers-color-scheme: dark){
    body{
        background-color: var(--color1);
        color: var(--color2);
    }
}